body {
	background-color: #a10023;	
}


h1	{
	background: yellow;
	border-radius: 100px;
	color: #fff;
	line-height: 100px;
	text-align: center;
	height: 100px;
	width: 100px;
}

h1:hover {
	background: blue;
	color: yellow;
	margin-top: 50px;
	transition: background .5s;
}

h3	{
	background: teal;
}

p {
	background: green;
}

a {
	background: cornflowerblue;
	height: 100px;
	width: 100px;
	line-height: 100px;
	display: block;
	text-align: center;
	margin: 50px;
}